# El proyecto subido debe ser limpio
# Porque si se sube con cualquier tipo de objeto
# Y luego se lo quiere ignorar en el .gitignore, no funciona, no los ignora
###################################################################################

# No se sube la carpeta .vs y todo su contenido que se crea al descargar el proyecto
.vs/

# No se sube la carpeta obj y su contenido
**/obj/*

# No se sube la carpeta bin y su contenido
**/bin/*

# No se sube la carpeta packages y su contenido
**/packages/*

# No se sube los archivos de extension *.user
*.user

# No se sube los archivos de extension *.vspscc
*.vspscc

# No se sube los archivos de extension *.yml
*.yml

# No se sube los archivos de extension *.nuspec
*.nuspec

# No se sube los archivos de extension *.nupkg
*.nupkg

# No se sube los archivos de extension *.ps1
*.ps1
/Solidario.CreditoYa.DesktopWeb/DOCUMENTOS
/Solidario.CreditoYa.DesktopWeb/DOCUMENTOSMICRO
/Solidario.CreditoYa.DesktopWeb/DOCUMENTOSORO
/Solidario.CreditoWeb.Proxy/Service References/WSControladorFlujo
/Solidario.CreditoWeb.Proxy/Service References
